# Iris Data Analysis

In [24]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="darkgrid")

from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler
from sklearn.metrics import roc_curve, auc
from sklearn.model_selection import StratifiedKFold

import string
import warnings
warnings.filterwarnings('ignore')

SEED = 42

In [25]:
# reading files
df_all = pd.read_csv('C:\\Users\\derek\\Documents\\AI\\Iris Data Set\\iris.csv') 
df_all.name = 'Iris Data'

print('X Shape = {}'.format(df_all.shape))
print('Y Shape = {}\n'.format(df_all.shape[0]))
print(df_all.columns)
print()
df_all

X Shape = (150, 5)
Y Shape = 150

Index(['SepalLength', ' SepalWidth', ' PetalLength', ' PetalWidth', ' class'], dtype='object')

     SepalLength   SepalWidth   PetalLength   PetalWidth           class
0            5.1          3.5           1.4          0.2     Iris-setosa
1            4.9          3.0           1.4          0.2     Iris-setosa
2            4.7          3.2           1.3          0.2     Iris-setosa
3            4.6          3.1           1.5          0.2     Iris-setosa
4            5.0          3.6           1.4          0.2     Iris-setosa
..           ...          ...           ...          ...             ...
145          6.7          3.0           5.2          2.3  Iris-virginica
146          6.3          2.5           5.0          1.9  Iris-virginica
147          6.5          3.0           5.2          2.0  Iris-virginica
148          6.2          3.4           5.4          2.3  Iris-virginica
149          5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [26]:
print(df_all.info())
df_all.sample(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SepalLength   150 non-null    float64
 1    SepalWidth   150 non-null    float64
 2    PetalLength  150 non-null    float64
 3    PetalWidth   150 non-null    float64
 4    class        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

    SepalLength   SepalWidth   PetalLength   PetalWidth            class
89          5.5          2.5           4.0          1.3  Iris-versicolor
26          5.0          3.4           1.6          0.4      Iris-setosa
56          6.3          3.3           4.7          1.6  Iris-versicolor

## Missing Values ##

In [27]:
def display_missing(df):
    for c in df.columns.tolist():
        print('{} column missing values: {}'.format(c, df[c].isnull().sum()))

print('{}'.format(df_all.name))
display_missing(df_all)

Iris Data
SepalLength column missing values: 0
 SepalWidth column missing values: 0
 PetalLength column missing values: 0
 PetalWidth column missing values: 0
 class column missing values: 0

There are no missing values so we can skip filling in values

## Summary Statistics ##

In [62]:
df_stats = pd.DataFrame(
    {
        "Min": df_all.min()[0:4],
        "Max": df_all.max()[0:4],
        "Mean": df_all.mean()[0:4],
        "Median": df_all.median()[0:4],
        "STD": df_all.std()[0:4],
        #how to make correlation work
        #"Correlation": df_all.corrwith()[0:3] // what does this correlation compute correlation between
    }
)
df_stats

              Min  Max      Mean  Median       STD
SepalLength   4.3  7.9  5.843333    5.80  0.828066
 SepalWidth   2.0  4.4  3.054000    3.00  0.433594
 PetalLength  1.0  6.9  3.758667    4.35  1.764420
 PetalWidth   0.1  2.5  1.198667    1.30  0.763161

In [45]:
df_all.describe()

       SepalLength   SepalWidth   PetalLength   PetalWidth
count   150.000000   150.000000    150.000000   150.000000
mean      5.843333     3.054000      3.758667     1.198667
std       0.828066     0.433594      1.764420     0.763161
min       4.300000     2.000000      1.000000     0.100000
25%       5.100000     2.800000      1.600000     0.300000
50%       5.800000     3.000000      4.350000     1.300000
75%       6.400000     3.300000      5.100000     1.800000
max       7.900000     4.400000      6.900000     2.500000